<a href="/client/products/">Home</a>

<h2> <%= @product["name"] %></h2>
<h3>Price: <%= @product["price"]  %></h3>
<h4>Description: <%= @product["description"]%></h4>
<h4>Supplier id: <%= @product["supplier_id"]%></h4>
<a href="/client/products/ <%= @product["id"] %>/edit">Edit</a>
<a href="/client/products/ <%= @product["id"] %>" data-method="delete">Delete</a>
<!-- <img src= "<%=@product["image"]  %>"> -->
